<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../controller/pag_erro.css">
  <title>ERRO !!!</title>
</head>
<div class="espaco"></div>

<body>
  <div class="espaco"></div>
  <div class="container">
    <div class="row">
    <center>
      <h1>Erro</h1>
      <p>Acesso Negado ¯\_(ツ)_/¯</p>
      <br>
      <a href="Index.php"><h2>Fazer Login</h2></a>
    </center>
    </div>
  </div>
  </body>

</html>